.results {
  &-title {
    margin: 1rem 0 0 0;
    padding: 10px 10px 0 10px;
  }

  .results-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;

    .table-head {
      display: none;
    }

    .table-body,
    .table-row,
    .table-cell {
      display: block;
    }

    .table-row {
      margin-top: 1rem;
    }

    .table-cell {
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      border-bottom: 1px solid var(--grey-dark);
    }

    .table-cell::before {
      content: attr(data-label);
      display: inline-block;
      position: relative;
      top: 0;
      width: 29%;
      font-weight: bold;
    }

    @media (min-width: 760px) {
      margin-top: 1rem;
      border-collapse: separate;

      .table-head {
        display: table-header-group;
        background-color: var(--blue);
      }

      .table-header {
        padding: 12px 10px;
        color: var(--white);
      }

      .table-body {
        display: table-row-group;
      }

      .table-row {
        display: table-row;
      }

      .table-cell {
        display: table-cell;
        padding: 12px 10px;
      }

      .table-cell::before {
        display: none;
      }
    }
  }
}
